body {
  background: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

table,
th,
td {
  border: 1px solid #666;
  border-collapse: collapse;
}

#tetris {
  width: 360px;
  border: 1px solid rgb(255, 255, 255);
  padding: 20px;
}

#canvas {
}

#info {
  background-color: gray;
  color: #fff;
  float: right;
  width: 110px;
  height: 420px;
  padding: 10px;
}

/* #next_shape {
  position: relative;
  background-color: gray;
  border: 1px solid white;
  width: 110px;
  height: 110px;
} */

#start {
  animation: blink 1s steps(2, start) infinite;
  background: #e1ff5f;
  border-radius: 2px;
  color: #202020;
  cursor: pointer;
  font-size: 28px;
}

@keyframes blink {
  to {
    outline: #e1ff5f solid 1px;
  }
}

#tetris_table {
  background-color: black;
  width: 210px;
  height: 440px;
}

.shape_square {
  background-color: white;
  border: 0.5px solid yellow;
  position: relative;
}
